FLUXO_1_RECEBER_WHATSAPP_CRM.json
{
  "name": "✅ RECEBER - WhatsApp → CEUSIA CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "id": "webhook-evolution",
      "name": "Webhook Evolution API",
      "webhookId": "webhook-receber-mensagens"
    },
    {
      "parameters": {
        "functionCode": "// Extrai dados do payload da Evolution API v2\nconst payload = $json;\n\nlet numero = \"\";\nlet mensagem = \"\";\nlet nome_contato = \"\";\nlet tipo_mensagem = \"texto\";\n\ntry {\n  // Extrai número do remetente\n  if (payload.data?.key?.remoteJid) {\n    numero = payload.data.key.remoteJid;\n  } else if (payload.key?.remoteJid) {\n    numero = payload.key.remoteJid;\n  } else if (payload.from) {\n    numero = payload.from;\n  }\n\n  // Extrai nome do contato\n  if (payload.data?.pushName) {\n    nome_contato = payload.data.pushName;\n  } else if (payload.pushName) {\n    nome_contato = payload.pushName;\n  } else if (payload.data?.verifiedBizName) {\n    nome_contato = payload.data.verifiedBizName;\n  } else {\n    nome_contato = \"Desconhecido\";\n  }\n\n  // Extrai mensagem conforme o tipo\n  const messageData = payload.data?.message || payload.message || {};\n\n  if (messageData.conversation) {\n    mensagem = messageData.conversation;\n    tipo_mensagem = \"texto\";\n  } else if (messageData.extendedTextMessage?.text) {\n    mensagem = messageData.extendedTextMessage.text;\n    tipo_mensagem = \"texto\";\n  } else if (messageData.imageMessage?.caption) {\n    mensagem = messageData.imageMessage.caption || \"[Imagem]\";\n    tipo_mensagem = \"imagem\";\n  } else if (messageData.videoMessage?.caption) {\n    mensagem = messageData.videoMessage.caption || \"[Vídeo]\";\n    tipo_mensagem = \"video\";\n  } else if (messageData.audioMessage) {\n    mensagem = \"[Áudio]\";\n    tipo_mensagem = \"audio\";\n  } else if (messageData.documentMessage?.fileName) {\n    mensagem = `[Documento: ${messageData.documentMessage.fileName}]`;\n    tipo_mensagem = \"documento\";\n  } else {\n    mensagem = \"mensagem_vazia\";\n  }\n\n  // Limpa o número (remove espaços e caracteres especiais desnecessários)\n  numero = String(numero).trim();\n\n  console.log('✅ Dados extraídos:', { numero, mensagem, nome_contato, tipo_mensagem });\n\n} catch (error) {\n  console.error('❌ Erro ao processar payload:', error);\n  mensagem = mensagem || \"erro_processamento\";\n  nome_contato = nome_contato || \"Desconhecido\";\n}\n\nreturn {\n  numero: numero,\n  mensagem: mensagem,\n  nome_contato: nome_contato,\n  origem: \"whatsapp\",\n  tipo_mensagem: tipo_mensagem\n};"
      },
      "name": "Normalizar Payload Evolution",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300],
      "id": "function-normalize"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dteppsfseusqixuppglh.supabase.co/functions/v1/webhook-conversas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "numero",
              "value": "={{ $json.numero }}"
            },
            {
              "name": "mensagem",
              "value": "={{ $json.mensagem }}"
            },
            {
              "name": "nome_contato",
              "value": "={{ $json.nome_contato }}"
            },
            {
              "name": "origem",
              "value": "={{ $json.origem }}"
            },
            {
              "name": "tipo_mensagem",
              "value": "={{ $json.tipo_mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Enviar para CEUSIA CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "id": "http-to-crm"
    }
  ],
  "connections": {
    "Webhook Evolution API": {
      "main": [
        [
          {
            "node": "Normalizar Payload Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Payload Evolution": {
      "main": [
        [
          {
            "node": "Enviar para CEUSIA CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ceusia-crm-receber"
  },
  "tags": [
    {
      "name": "CEUSIA CRM",
      "id": "ceusia"
    },
    {
      "name": "WhatsApp",
      "id": "whatsapp"
    },
    {
      "name": "Receber Mensagens",
      "id": "receber"
    }
  ]
}
